.post-meta {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #999994;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}
